<div id="home">
  <div id="image1" class="image-bar">US Trip</div>
  <div id="content1" class="content-bar">
    <div class="header">Washington DC</div>
    <div class="content">
      A land of American history, securely preserved and beautifully presented.
    </div>
  </div>

  <div id="image2" class="image-bar"></div>
  <div id="content2" class="content-bar">
    <div class="header">Air and Space Museum</div>
    <div class="content">
      Take a peep into the world of air dragons, pushing the limits of humanity, leaving a mark behind.
    </div>
  </div>

  <div id="image3" class="image-bar"></div>
  <div id="content3" class="content-bar">
    <div class="header">Grand Canyon</div>
    <div class="content">
      A breathtaking view. Humans have gone so far, yet so small in front of the vastness of our beautiful nature.
    </div>
  </div>

  <div id="image4" class="image-bar"></div>
  <div id="content4" class="content-bar">
    <div class="header">Las Vegas</div>
    <div class="content">
      A lighted castle on a small strip in the middle of a desert. Gambling, fun, entertainment. An apt place for the right amount of wrong.
    </div>
  </div>

</div>